<%- include('./partials/header') %>
    <div class="container">
        <h1>
            <%= title %>
        </h1>

        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos alias rem deleniti ducimus exercitationem
            distinctio quia omnis, debitis, vero incidunt, necessitatibus pariatur amet officiis at aliquid culpa. Ad,
            inventore aperiam.</p>

        <a href="/profile">My Account</a>


    </div>
    <%- include('./partials/header') %>